footer{
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: grey;
}

p{
	text-align: center;
}

main {
	display: table;
	text-align: left; 
}

form{
	display: table-cell; 
	text-align: left;	
	width: 33%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td, th {
	padding-left: 10px;
	padding-right: 10px;
}
